# .NET / Backend
Backend/bin/
Backend/obj/
Backend/*.user
Backend/.vs/
Backend/appsettings.Development.json
*.db
*.db-shm
*.db-wal

# JWT / Secretos
Backend/appsettings.*.json
!Backend/appsettings.json

# Editores / IDEs
.vs/
.vscode/
.idea/
*.suo
*.user

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Variables de entorno
.env
.env.local
.fake